# Visual Studio Intellisense
*.sdf
*.VC.db*

# Visual Studio solution user options
*.suo

# Visual Studio user specific stuff
*.user

# Visual Studio temp file (only when VS open)
*.opensdf
*.VC.opendb

# Visual Studio precomplied header file
*.ipch

# directories
bin/
build/
